{% extends "layout.njk" %}
{% block content %}
    <div id="wrapper">
        <img src="images/frent.jpg" alt="Logo">
        <h1>Bareiro WebDeveloper</h1>
        <p>Web Designer focado em gerar mais visibilidade para seu negócio adotando estratégias de Marketing Digital e criação
            de sites com foco na Experiência do Usuário.</p>
    </div>
    <div id="principal" class="tecnologias">
        <h2>Principais Tecnologias:</h2>
        <ul>
            <li><img src="images/react.png" alt="React"></li>
            <li><img src="images/node-2.png" alt="Node"></li>
            <li><img src="images/elixir-3.png" alt="Elixir"></li>
        </ul>
    </div>
    <div id="links-footer" class="links">
        <a href="https://github.com/ErickBareiro/" target="_blank">GitHub</a>
        <a href="https://instagram.com/bareiro.webdeveloper/" target="_blank">Instagram</a>
        <a href="https://www.linkedin.com/in/erick-bareiro/" target="_blank">LinkedIn</a>
    </div>
{% endblock %}