{% extends "layout.njk" %}
{% block content %}
    <div id="wrapper">
        <img src="{{ about.avatar }}" alt="Imagem de {{ about.avatar }}">
            <h1>{{ about.name }}</h1>
            <p>{{ about.description }}</p>
        </div>
        <div id="principal" class="tecnologias">
            <h2>Principais Tecnologias:</h2>
            <ul>
                <li><img src="images/react.png" alt="React"></li>
                <li><img src="images/node-2.png" alt="Node"></li>
                <li><img src="images/elixir-3.png" alt="Elixir"></li>
            </ul>
                    </div>
                    <div id="links-footer" class="links">
                        {% for link in about.links %}
                            <a href="{{link.url}}" target="_blank">{{ link.name }}</a>
                        {% endfor %}
                    </div>
                {% endblock %}