<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="style.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Conteúdo</title>

</head>

<body>
    <header>
        <div class="links">
            <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
            <a href="mailto:oi@rocketseat.com.br">Email</a>
            <a href="tel:+5547992078767">Telefone</a>
            <a href="/courses">Conteúdos</a>
        </div>
    </header>

    <section class="cards">
        <div class="card" id="construindo-um-app-com-mapas-usando-react-native-maps-e-mapbox/">
            <article>
                <div class="item-image"
                    style="background-image: url(https://blog.rocketseat.com.br/content/images/2020/10/teste.jpg);">
                </div>
                <h2>Construindo App com Mapa usando React Native Maps e MapBox</h2>
                <div class="info">
                    <span>por</span>
                    <h3>Thiago Marinho</h3>
                </div>
                <div class="time">
                    <span>Tempo de leitura:</span>
                    <h4>8 minutos</h4>
                </div>
            </article>
        </div>

        <div class="card" id="como-renomear-varios-arquivos-de-uma-vez-usando-o-terminal/">
            <article>
                <div class="item-image"
                    style="background-image: url(https://blog.rocketseat.com.br/content/images/2020/11/thumb-como-renomear-varios-arquivos-de-uma-vez-usando-o-terminal.jpg);">
                </div>
                <h2>Como renomear vários arquivos de uma vez usando o terminal</h2>
                <div class="info">
                    <span>por</span>
                    <h3>Thiago Marinho</h3>
                </div>
                <div class="time">
                    <span>Tempo de leitura:</span>
                    <h4>2 Minutos</h4>
                </div>
            </article>
        </div>

        <div class="card" id="dark-mode-com-css-mudando-a-aparencia-do-blog-de-maneira-simples-e-rapida/">
            <article>
                <div class="item-image"
                    style="background-image: url(https://blog.rocketseat.com.br/content/images/2020/10/dark-mode-com-css-mudando-a-aparencia-do-blog-de-maneira-simples-e-rapida.jpg);">
                </div>
                <h2>Dark Mode com CSS — mudando a aparência do Blog de maneira simples e rápida</h2>
                <div class="info">
                    <span>por</span>
                    <h3>Thiago Marinho</h3>
                </div>
                <div class="time">
                    <span>Tempo de leitura:</span>
                    <h4>3 Minutos</h4>
                </div>
            </article>
        </div>
    </section>

    <div class="modal-overlay">
        <div class="modal">
            <div class="buttons-modal">
                <a class="maximize-modal">
                    <i class="material-icons">fit_screen</i>
                </a>
                <a class="close-modal">
                    <i class="material-icons">disabled_by_default</i>
                </a>
            </div>

            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="scripts.js"></script>

</body>

</html>