<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <title>Desafio 2</title>

</head>

<body>

    <header>
        <div class="links">
            <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
            <a href="mailto:oi@rocketseat.com.br">Email</a>
            <a href="tel:+5547992078767">Telefone</a>
            <a href="/courses">Conteúdos</a>
        </div>
    </header>

    <main>
        <div class="container-notFound">
            <div class="img">
                <img src="images/404-error.png" alt="Erro 404">
            </div>
            <div class="info404">
                <h1>Ops... Página não encontrada.</h1>
                <h3>Por favor retorne a página principal clicando <a href="/"><b>AQUI</b></a>.</h3>
            </div>
        </div>
    </main>
    
</body>

</html>