{% extends "layout.njk" %}
{% block content %}
    <main>
        <div class="container-notFound">
            <div class="img">
                <img src="images/404-error.png" alt="Erro 404">
            </div>
            <div class="info404">
                <h1>Ops... Página não encontrada.</h1>
                <h3>Por favor retorne a página principal clicando
                    <a href="/">
                        <b>AQUI</b>
                    </a>.</h3>
            </div>
        </div>
    </main>
{% endblock %}